
@import url("accueil.css");
@import url("pageCours.css");

/* FONTS */
@font-face {
    font-family: "PoppinsLight";
    src: url("../font/Poppins-Light.ttf");
}
@font-face {
    font-family: "PoppinsMedium";
    src: url("../font/Poppins-Medium.ttf");
}

body{
    font-family: 'PoppinsLight';
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ff6056;
}

#main-div{
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(35, 35, 35);
    border-radius: 20px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px 30px 30px;
    max-width: 1000px;
}

#link{
    text-decoration: underline;
    color: #FF6056;
}

#logo{
    margin-top: 30px;
    width: auto;
    height: 130px;  
    align-self: center;
}
#cdjLogo{
    height: 50px;
    margin-top: 15px;
    align-self: center;
}

#slogan{
    font-size: 30px;
}


/* CSS for the mobile devices*/
@media only screen and (max-width: 500px) {
    
    #logo{
        height: 100px;
    }

    #slogan{
        font-size: 25px;
    }

}