

#coursContainer{
    background-color: #d9d9d9;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

}

a{
    text-decoration: none;
}

.cours{
    overflow: hidden;
    position: relative;
    margin: 0.5em;
    background-color: #ebebeb;
    color: #f1f5f9;
    border: 10px solid #e73d31;
    height: 200px;
    border-radius: 20px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 300px;
}


.cours:hover .titrecours {
    background-color: rgba(90, 90, 90, 0.8); 
    transition: background-color 0.1s ease-in-out;
}

@media only screen and (max-width: 1024px) {

    .titrecours{
        width: 100%;
        height: 100%;
        background-color: rgba(90, 90, 90, 0.5);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* css pour les grand écrans (ordinateurs)*/
@media only screen and (min-width: 1024px) {
    
    .titrecours {
        width: 100%;
        height: 100%;
        background-color: rgba(90, 90, 90, 0.5);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        /*transform: translateY(100%);
        transition: transform 0.3s ease-in-out;*/
    }
    /*
    .cours:hover .titrecours {
        transform: translateY(0);
    }*/
}

.scrollmenu {
    margin: 30px;
    width: auto;
    overflow: auto;
    white-space: nowrap;
}

.cours-tab {
    font-weight: 600;
    font-size: 20px;
    width: auto;
    display: inline-block;
    color: white;
    background-color: #ff6056;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.cours-tab:hover {
    background-color: #d45047;
}
